$black: #000;
$white: #fff;
$green: rgb(0, 255, 0);
$chocolate: chocolate;
$red: red;
$orange: orange;
$blue: #5b6ceb;
// button
$btn-font-size: 16px;
$btn-background: $blue;
$btn-color: $white;
$btn-bg-hover: brown;
// base style
$base-radius: 5px;
$base-font-family: 'Open Sans', Arial, Helvetica, sans-serif;
$footer-font: 'Myriad Pro', Arial, Helvetica, sans-serif;
$freestyle-font-family: 'Freestyle Script', Arial, Helvetica, sans-serif;
$base-line-height: 1.2;
$base-font-size: 14px;
// animation
$animation-speed: .5s;