.inform {
    background-image: url('../images/bg-02.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    position: relative;
    &_bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(58, 110, 255, 0.657);
        z-index: 5;
    }
    &__content {
        width: 300px;
        margin: 0 auto;
        display: flex;
        position: relative;
        flex-direction: column;
        z-index: 10;
        &_card {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .inform_emblem {
                width: 70px;
                height: 70px;
                border: 3px solid white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .inform_title {
                @extend %title-18fs;
                margin: 15px 0 0 0;
                flex-grow: 1;
            }
            .inform_text {
                margin: 10px 0 0 0;
                font-family: $base-font-family;
                font-size: 16px;
                line-height: 27px;
                font-weight: 400;
                color: #ffffff;
            }
        }
    }
}
// @media (min-width: 768px) {
//     .inform {
//         padding: 75px 0;
//         &__content {
//             width: 100%;
//             flex-direction: row;
//             justify-content: space-between;
//             flex-wrap: wrap;
//             &_card {
//                 margin-bottom: 55px;
//                 flex-basis:  calc(100% / 4.1);
//                 .inform_title {
//                     margin: 20px 0 0 0;
//                     flex-grow: 1;
//                 }
//             }
//         }
//     }
// }

// @media (min-width: 1200px) {
//     .inform {
//         padding: 130px 0 75px 0;
//         &__content {
//             &_card {
//                 margin-bottom: 55px;
//                 .inform_title {
//                     margin: 30px 0 0 0;
//                 }
//                 .inform_text {
//                     margin: 13px 0 0 0;
//                 }
//             }
//         }
//     }
// }